#user-wrapper {
  position: relative;
  background-image: url("http://i59.tinypic.com/o107mh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 2000px 1000px;*/
}

#hi {
  font-family: 'Crafty Girls', cursive;
  display: inline;
  color: white;

}

#map-canvas {
  height: 510px;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}


#routes {
  background-color: #91BDFF;
  height: 500px;
  width: 400px;
  border: 10px dotted white;
  bottom: 115px;
  left: 10px;
  position: absolute;
  border-radius: 10px;
  overflow:scroll

}

#directions {
  right: 10px;
  position: absolute;
  background-color: #91BDFF;
  border: 10px dotted white;
  height: 500px;
  width: 400px;
  bottom: 115px;
  border-radius: 10px;
  overflow:scroll
  /*float: right;*/
  /*margin: 0 auto;*/
  /*position: absolute;*/

}

#routestext {
  color: white;
  text-decoration: underline;


}

#directionstext {
  color: white;
  text-decoration: underline;

}

#citibike {
  font-size: 20px;
  color: red;
  background-color: #91BDFF;


}

#bikeshops {
  font-size: 20px;
  color: red;
  background-color: #91BDFF;

}

#accidents {
  font-size: 20px;
  color: red;
  background-color: #91BDFF;

}

.footer_user {
  background-color: #333333;
  height: 100px;
  width: 1480px ;
  bottom: -10px;
  left: -30px;
  right: 0px;
  margin: 0 auto;
  position: absolute;
}
