#user-wrapper {
  position: relative;
  background-image: url("http://i59.tinypic.com/o107mh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 2000px 1000px;*/
}

#hi {
  font-family: 'Permanent Marker', cursive;
  display: inline;
  color: white;

}

#/*citibike {
  /*font-size: 10px;*/
  color: red;
  /*background-color: rgba(255, 255, 255, .9);*/

/*}*/



  .slideTwo {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #111;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideTwo label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #333;
  left: 6px;
  top: 6px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}

.slideTwo input[type=checkbox]:checked + label:after {
  background: #00bf00;
}




#bikeshops {
  font-size: 20px;
  color: red;
 background-color: rgba(255, 255, 255, .9);
}

#accidents {
  font-size: 20px;
  color: red;
 background-color: rgba(255, 255, 255, .9);
}


#map-canvas {
  height: 510px;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}

#routestext {
  color: white;
  text-decoration: underline;


}

#routes {
  background-color: #91BDFF;
  opacity: 0.85;
  height: 500px;
  width: 400px;
  border: 10px dotted white;
  bottom: 115px;
  left: 10px;
  position: absolute;
  border-radius: 10px;
  overflow:scroll

}

#create-route-button {
  position: absolute;
  left: 159px;
  top: 90px;

}

input#route-start {
  width: 300px;
  font-size: 20px;
  left: 20px;
  position: absolute;

}

input#route-end {
  width: 300px;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 0px;
}

#route-trigger {
  position: absolute;
  left: 140px;

}

#form-route {
  position: absolute;
  top:130px;
  left: 60px;

}

#route-formdrop {
  font-size: 20px;
  color: red;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 50px;
/*#91BDFF;*/

}

.routelinks {
  color: yellow;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  overflow: scroll;


}
#directions-button {
  position: absolute;
  right: 158px;
  top: 90px;


}

input#directions-origin {
  width: 300px;
  position: absolute;
  right: 20px;
  font-size: 20px;

}

input#directions-destination {
  width: 300px;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 0px;
}

input#directions-trigger {
  position: absolute;
  right: 150px;

}

#form-directions {
  position: absolute;
  top: 130px;
  right: 50px;
}

#directions-formdrop {
  font-size: 20px;
  color: red;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 50px;

}

#directionstext {
  color: white;
  text-decoration: underline;

}


#directions {
  right: 10px;
  position: absolute;
  background-color: #91BDFF;
  border: 10px dotted white;
  height: 500px;
  width: 400px;
  bottom: 115px;
  border-radius: 10px;
  overflow:scroll;
  opacity: 0.85;
}





.footer_user {
  background-color: #333333;
  height: 100px;
  width: 1480px ;
  bottom: -10px;
  left: -30px;
  right: 0px;
  margin: 0 auto;
}
