#user-wrapper {
  position: relative;
  background-image: url("http://i59.tinypic.com/o107mh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 2000px 1000px;*/
}

#hi {
  font-family: 'Permanent Marker', cursive;
  display: inline;
  color: white;

}

#citibike {
  font-size: 20px;
  color: red;
 background-color: rgba(255, 255, 255, .9);

}

#bikeshops {
  font-size: 20px;
  color: red;
 background-color: rgba(255, 255, 255, .9);
}

#accidents {
  font-size: 20px;
  color: red;
 background-color: rgba(255, 255, 255, .9);
}


#map-canvas {
  height: 510px;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}

#routestext {
  color: white;
  text-decoration: underline;


}

#routes {
  background-color: #91BDFF;
  opacity: 0.85;
  height: 500px;
  width: 400px;
  border: 10px dotted white;
  bottom: 115px;
  left: 10px;
  position: absolute;
  border-radius: 10px;
  overflow:scroll

}

#create-route-button {
  position: absolute;
  left: 159px;
  top: 90px;

}

input#route-start {
  width: 300px;
  font-size: 20px;
  left: 20px;
  position: absolute;

}

input#route-end {
  width: 300px;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 0px;
}

#route-trigger {
  position: absolute;
  left: 140px;

}

#form-route {
  position: absolute;
  top:130px;
  left: 60px;

}

#route-formdrop {
  font-size: 20px;
  color: red;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 50px;
/*#91BDFF;*/

}

.routelinks {
  color: yellow;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  overflow: scroll;


}
#directions-button {
  position: absolute;
  right: 158px;
  top: 90px;


}

input#directions-origin {
  width: 300px;
  position: absolute;
  right: 20px;
  font-size: 20px;

}

input#directions-destination {
  width: 300px;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 0px;
}

input#directions-trigger {
  position: absolute;
  right: 150px;

}

#form-directions {
  position: absolute;
  top: 130px;
  right: 50px;
}

#directions-formdrop {
  font-size: 20px;
  color: red;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 50px;

}

#directionstext {
  color: white;
  text-decoration: underline;

}


#directions {
  right: 10px;
  position: absolute;
  background-color: #91BDFF;
  border: 10px dotted white;
  height: 500px;
  width: 400px;
  bottom: 115px;
  border-radius: 10px;
  overflow:scroll;
  opacity: 0.85;
}





.footer_user {
  background-color: #333333;
  height: 100px;
  width: 1480px ;
  bottom: -10px;
  left: -30px;
  right: 0px;
  margin: 0 auto;
}
