
.banner {
  background-color: transparent;
  height: 150px;
  width: 1420px;
  position: absolute;
  right: 0px;
  top: -20px;
  border: 5px dotted black;
  border-radius: 5px;

}

img#cyclerlogo {
  position: absolute;
  left: 57px;
  height: 150px;
  border: 5px solid black;

}


.loginform { /* login form */
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
}

.signupform {
  display: inline-block;
  position: absolute;
  top: 350px;
  left: 30px;

}

.signup_name {
  font-size: 30px;
}

.signup_email {
  font-size: 30px;

}

.signup_password {
  font-size: 30px;

}

.signup_passwordconf {
  font-size: 30px;

}


p.notregistered {
  color: black;


}

a.getstarted {
  color: black;


}

.footertext {
  color: black;

}

.button {
  color: red;
  background-color: white;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  font-size: 40px;

}
