
.banner {
  background-color: rgba(84, 84, 84, 0.85);
  height: 170px;
  width: 1220px;
  margin: 0 auto;
  border: 10px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 30px 80px 3px rgba(0, 0, 0, 0.9);

}

img#cyclerlogo {
  position: absolute;
  left: 444px;
  top: 1px;
  height: 200px;
  border-radius: 5px;

}


.loginform { /* login form */
  color: white;
  position: absolute;
  right: 270px;
  top: 80px;
}

#createaccount {
  font-size: 40px;
  color: red;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  display: inline;
  left: 100px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  padding: 10px;
}

.signupform {
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 100px;


}

.button {
    font-family: 'Permanent Marker', cursive;


}

.signup_name {
  font-size: 30px;
}

.signup_email {
  font-size: 30px;

}

.signup_password {
  font-size: 30px;

}

.signup_passwordconf {
  font-size: 30px;

}


p.notregistered {
  color: black;


}

a.getstarted {
  color: black;


}

.footertext {
  color: black;

}

.button {
  color: red;
  background-color: white;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  font-size: 40px;

}

.logo {
  color: white;
  font-family: 'Crafty Girls', cursive;
  font-size: 50px;
  margin-left: 30px;
}

.footer {
  background-color: rgba(84, 84, 84, 0.98);
  height: 100px;
  width: 1480px ;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0px;
}

.footertext {
  text-align: center;
  color: white;
  font-size: 14px;
}
